@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    cursor: pointer;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Widget Container*/

.widget_container{
    width: 66vh;
    height: 36vh;
    margin: 0px 1px;
}

.widget{
   background-color: white;
   height: 30vh;
   width: 60vh;
   box-shadow: #7a7a7a;
}
/* .widget img{
    width: 40px;
    height: auto;
    margin-bottom: 10px;
} */

@layer utilities {
    ::-webkit-scrollbar {
        width: 6px;
        background-color: #a3acbe;
    }
}